@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;900&display=swap');
*{
    margin:0px;
    padding: 0px;
    outline: 0px;

}

body{
    max-width: 1600px; width: 100%; margin: 0px auto;
    max-height: 1080px;
    font-family: "Poppins";
    background-color: #f8f8fa;
   
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin:1vh 10vh;
    margin-bottom: 5px;
    
}

.mid{
    border-top: solid 3px #000;
    width: 25vw;
    margin-left: 250px;
}


.options>ul{
display: flex;
align-items: center;
justify-content: space-between;
}

.options>ul>li{
    list-style: none;
    margin: 20px;
    color: #adadac;
    margin-bottom: 0px;
}

.main-img>img{
    position: absolute;
    top:0%;
    bottom: 0%;
    left:0%;
    width:35vw;
    height: 100vh;
    z-index: -1;
}

.menu-bar{
    display: none;
}

.right-section{
    
    width:65vw;
    height: 85vh;
    margin-left: 34vw;
    display: flex;
    flex-direction: column;
}

.mid-section{
    display: flex;
    width:60vw;
    height: 45vh;
    
    margin: 0px 45px;
    
    font-family: "Poppins";
}

.mid-section1{
    
    width: 35vw;
}

.mid-section1-h1-1{
    
    
    color: transparent;
    -webkit-text-stroke:3px #000;
    font-size: 100px;

}

.mid-section1-h1{
    color: #000;
    font-size: 100px;
    margin-left: 200px;
    
}

.mid-section2>p{
    font-size:25px;
    padding-left: 10px;
    margin-top: 200px;
    color: #adadac;
}

.mid-section3>ul>li{
    width:50px;
    height: 50px;
    margin: 30px;
    margin-right: 0px;
    margin-left: 180px;
}

.mid-section3>ul>li{
    list-style: none;
}

.mid-section4{
    display: flex;
    justify-content: flex-end;
    
    width:60vw;
    margin: 0px 45px;
}


.mid-section4>button{
    width:200px;
    height: 50px;
    background-color: #000;
    color: #fff;

}

.bottom-section{
    /* width:60vw; */
    height: 30vh;
    margin: 0px 45px;
    
    display: flex;
}

.bottom-section1{
    width:20vw;
    height: 34vh;
    
}

.bottom-section2{
    width:35vw;
    height: 34vh;

    
}

.bottom-section3{
    width:5vw;
    height: 34vh;
    
}

.timeline1{
    
    border-left:solid 2px #adadac;
    line-height: 30px;
    padding: 10px;
}

.timeline1>h1{
    font-size: 20px;
    color: #adadac;
    
}

.timeline1::before{
    content: " ";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #adadac;
    border-radius: 50%;
    border: 3px solid #ddd;
    position: absolute;
    left: 36.5vw;
    
}

.first-time-line{
    border-left:solid 2px #000;
    line-height: 30px;
    padding: 10px;
    color: #000;
   
}

.first-time-line>h1{
    color: #000;
}

.first-time-line::before{
    background-color: #000;
}

.bottom-section2>h1{
    font-family: "Poppins";
    font-size: 50px;

}

.bottom-section2>img:nth-child(1){
    width: 5vw;
    height: 8vh;

}


.bottom-section2>img:nth-child(3){
    width: 35vw;
    height: 19vh;

}

.bottom-section3>img{
    margin-top: 50px;
    width:5vw;
    height: 25vh;
    
}

@media screen and (max-width:1400px) {
   
   .mid-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
   }

  

   .mid-section1>h1{
    font-size: 35px;
    

   }

   .mid-section1-h1{
    margin-left: 100px;
   }

   

   .mid-section3>ul>li{
    margin-left: 30px;
   }

   .timeline1::before{
    left: 37.3vw;
   }
}

@media screen and (max-width:1100px) {
    .mid-section1-h1{
        margin-left: 60px;
       }
       .timeline1::before{
        left: 37.7vw;
       }
       .mid{
        width:10vw
       }
}

@media screen and (max-width:1000px) {
    .mid-section1-h1{
        margin-left: 30px;
       }
       .timeline1::before{
        left: 38.7vw;
       }
       .mid{
        width:0vw
       }
}

@media screen and (max-width:600px) {
    .menu-bar{
        display: inline-block;
        width:40px;
        height: 30px;
        
    }

    .menu-bar>img{
        width:40px;
        height: 30px;
    }

    .options{
        display: none;
    }
}


@media screen and (max-width:850px) {

   nav{
        
        margin: 0vw 5vw;
    }

    .logo>img{
        width:100px;
        margin-top: 10px;
    }

    .mid{
        display: none;
    }

    .main-img{
        width:90vw;
        
        height: 45vh;
        margin: 10px 5vw;
    }

    .main-img>img{
        height: 45vh; 
        width:90vw; 
        position: initial;
    }

    .right-section{
        margin-left: 0px;
        width: 90vw;
        margin: 5vw;
        
    }

    .mid-section{
        width:90vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: fit-content;
        margin: 0px;
    }
    .mid-section1-h1-1{
        color: transparent;
        -webkit-text-stroke:3px #000;
        font-size: 50px;
    
    }
    
    .mid-section1-h1{
        color: #000;
        font-size: 50px;
        margin-left: 15vw;
        
    }

    .mid-section2>p{
        
        height: 10vh;
        margin-top: 150px;
    }
 .mid-section3>ul>li {

        width: 20px;
        height: 50px;
        margin: 10px 0px;
        margin-right: 0px;
        
        
    }
    .mid-section3{
        padding-left: 20px;
    }
    .mid-section4{
        margin-top: 20px;
    }

    .bottom-section {
        width: 90vw;
        
        margin: 10px 0vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
}

    .bottom-section1{
        margin-top: 50px;
        width:60vw;
        }

    .bottom-section2{
        margin-top: 10vh;
        grid-column-start: 1;
        grid-row-end: 6;
        width:50vw;
        height: fit-content;
        
    }

    .timeline1{
        margin-left: 5vw;
    }

    .timeline1::before{
        left:9.5vw;
    }


    .bottom-section2{
  
        width:70vw;
    }

    .bottom-section2>img:nth-child(3) {
        width: 70vw;
        height: 19vh;
    }

    
    

}

@media screen and (max-width:500px) {
    .timeline1::before{
        left:8.5vw;
    }
    
}